google-generativeai
streamlit
python-dotenv
PyPDF2
#openai
#pandas
#pillow
#langchain
#google-search-results
#langchain-community
#langchain-google-genai
#langchain-core
#langchain_cohere
#wikipedia
langchain_google_genai
traceback2

-e .